<style>
    .el-cascader-menus {
        z-index:200000 !important;
    }
    .el-form-item__content {
        line-height: 20px !important;
        z-index:1000
    }
</style>
<div id="app" class="page_form" v-cloak>
    <template>
        <el-tabs v-model="activeName" @tab-click="handleClick" type="border-card" style="width:70%" v-loading="loading">
            <el-tab-pane label="{$action_name}" name="first">
                <el-form ref="form" :model="form" label-width="80px">
                    <el-form-item label="打卡名称">
                        <el-input v-model="form.title" style="width:500px"></el-input>
                    </el-form-item>
                    <el-form-item label="打卡类型">
                        <el-radio-group v-model="form.type" @change="changeType">
                            <el-radio v-for="item in options" :label="item.id" >{{item.name}}</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <!--新增标签-->
                    <!--新增标签-->
                    <el-form-item label="素材标签">
                        <el-select v-model="form.label" multiple placeholder="请选择">
                            <el-option
                                    v-for="item in punchCardLabel"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <!--新增标签-->
                    <el-form-item label="打卡描述">
                        <span id="editor3">
                          <div v-html="form.description"></div>
                        </span>
                    </el-form-item>

                    <el-form-item label="缩略图">
                        <el-upload
                                action="/"
                                list-type="picture-card"
                                :on-remove="uploadRomove"
                                :on-success="uploadSuccess"
                                :file-list="form.fileList"
                        >
                            <i class="el-icon-plus"></i>
                        </el-upload>
                    </el-form-item>

                    <el-form-item label="资源链接" v-if="type==2 || type == 3">
                        <el-input v-model="form.source_path" style="width:500px"></el-input>
                    </el-form-item>

                    <el-form-item label="生词汇总" v-if="type==2 || type == 3">
                        <span id="editor">
                          <div v-html="form.words"></div>
                        </span>
                    </el-form-item>

                    <el-form-item label="提示词" v-if="type==2 || type == 3">
                        <span id="editor1">
                          <div v-html="form.notice"></div>
                        </span>
                    </el-form-item>

                    <el-form-item label="标准答案" v-if="type==2 || type == 3">
                        <span id="editor2">
                          <div v-html="form.answer"></div>
                        </span>
                    </el-form-item>

                    <el-form-item label="资源链接" v-if="type==2 || type == 3">
                        <div style="display: flex; align-items: center"  v-for="(item, i) in form.pathList">
                            <el-input placeholder="输入视频标题"  v-model="item.subtitle" style="width:500px;padding:5px" tabindex="i">
                            </el-input>
                            <el-input placeholder="输入资源链接"  v-model="item.path" style="width:500px;padding:5px" tabindex="i">
                            </el-input>
                            <el-button style="height: 40px" type="primary" icon="el-icon-delete"  @click="delPath(i)">删除</el-button>

                        </div>
                        <el-button type="primary"  icon="el-icon-circle-plus-outline"  @click="addPath">添加</el-button>
                    </el-form-item>



                    <el-form-item label="文本内容"  v-if="type == 4">
                        <div style="display: flex; align-items: center" v-for="(item, i) in form.textList">
                            <el-input type="textarea" placeholder="输入文本内容" v-model="item.content" rows="5" style="width:500px;padding:5px"></el-input>
                            <el-button style="height: 40px" type="primary" icon="el-icon-delete"  @click="delText(i)">删除</el-button>
                        </div>
                        <el-button type="primary" icon="el-icon-circle-plus-outline"  @click="addText">添加</el-button>
                    </el-form-item>

                    <el-form-item label="上架时间">
                        <el-date-picker
                                v-model="form.created_at"
                                type="date"
                                format="yyyy-MM-dd"
                                value-format="yyyy-MM-dd"
                                placeholder="选择日期">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="">

                    </el-form-item>

                    <!-- 新增代码 -->
                    <el-form-item label="图文详情" v-if="type==1">
                        <div id="ueditor">

                        </div>
                    </el-form-item>
                    <!-- 新增代码 -->

                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">立即提交</el-button>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
            <el-tab-pane label="返回素材列表" name="second" @click="history.go(-1)">返回素材列表</el-tab-pane>
        </el-tabs>
    </template>
</div>


<script type="text/javascript" src="/public/wangEditor/release/wangEditor.min.js"></script>
<script type="text/javascript" src="/public/wangEditor/release/wangEditor.js"></script>
<!--新增編輯器 百度編輯器-->
<script type="text/javascript" src="/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/plugins/ueditor/ueditor.all.min.js"></script>

<script type="text/javascript">

    new Vue({
        el:"#app",
        data() {
            return {
                notice:'',
                words:'',
                answer:'',
                description:'',
                type:1,
                loading: false,
                action:"{$action}",
                lock:false,
                editShow:false,
                ueditorShow:false,
                ue:{},
                options:{$options},//素材类型
                punchCardLabel:{$punchCardLabel},
                images:"",
                // subtitles:"",
                activeName: 'first',
                html:'',
                form: {
                    id: '',
                    title: '',
                    view_count: '',
                    type: 1,
                    source_path:'',
                    notice:'',
                    words:'',
                    answer:'',
                    pathList:[],//分段视频链接展示
                    textList:[], //文本展示
                    fileList: [], //图片展示
                    html:'',
                    label:[],
                    created_at:'',
                }
            }
        },

        mounted: function() {
            var that = this;
            var info = {$info};
            if(info.id) {
                this.form.id = info.id;
                this.form.title = info.title;
                this.form.type = info.type;
                this.type=info.type;
                this.form.description = info.description;
                this.description = info.description;
                this.form.position = info.position;
                this.form.category = info.category;
                this.form.source_path = info.source_path;
                this.form.notice = info.notice;
                this.notice = info.notice;
                this.form.words = info.words;
                this.words = info.words;
                this.form.answer = info.answer;
                this.answer = info.answer;
                this.form.pathList = info.pathList;
                this.form.textList = info.textList;
                this.form.fileList = info.fileList == '' ? [] : info.fileList;
                this.form.subtitles = info.subtitles;
                this.form.view_count = info.view_count;
                this.form.html = info.html_text;
                this.form.label = info.label_ids;
                this.form.created_at = info.created_at;
            }

            that.$nextTick(function(){
                var E = window.wangEditor
                let editor3 = new E('#editor3')
                editor3.customConfig.menus = [
                    'head',  // 标题
                    'bold',  // 粗体
                    'fontSize',  // 字号
                    'italic',  // 斜体
                    'underline',  // 下划线
                    'strikeThrough',  // 删除线
                    'foreColor',  // 文字颜色
                    'qgs',//去格式
                ]

                editor3.customConfig.onchange = function (html) {
                    // html 即变化之后的内容
                    that.description = html
                }
                editor3.create()
                // that.init();

                if (that.type == 1) {
                    // 新增代码
                    that.ueditorInit();
                }
                if(that.type==2 || that.type == 3){
                    that.init();
                }
              //  that.ueditorShow = false;
                <!-- 新增代码 -->
            })



        },
        methods: {
            changeType(val){
                let that = this
                that.type = val;
                that.$nextTick(function(){
                    if(val==2 || val == 3){
                        that.init();
                    }else{
                        that.editShow=false
                    }
                })

                if (val == 1) {
                    that.$nextTick(function(){
                        that.ueditorInit();
                    })
                }else{
                    if (that.ueditorShow) {
                        that.ueditorShow = false;
                        that.ue.destroy();
                        $("#ueditor").remove();
                    }

                }
            },
            init(){
                var that = this;
                // console.log(that.editShow);
                if(!that.editShow){
                    var E = window.wangEditor
                    let editor = new E('#editor')
                    let editor1 = new E('#editor1')
                    let editor2 = new E('#editor2')
                    that.editorInfo(editor, 1);
                    that.editorInfo(editor1, 2);
                    that.editorInfo(editor2, 3);
                    that.editShow=true;
                }
            },

            ueditorInit(){
                var that = this;

                    that.ueditorShow = true;
                    that.ue = UE.getEditor('ueditor',{
                        toolbars: [
                            [ 'source', '|', 'undo', 'redo', '|', 'forecolor', 'backcolor',
                                'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'removeformat', 'formatmatch',  'pasteplain',
                                'fontsize', '|','justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|',
                                'simpleupload', 'insertimage','|','link', 'unlink' ]
                        ],
                        initialFrameHeight: 600,
                        autoSyncData:false,
                        zIndex:99999,
                        enableAutoSave:false,
                        autoHeightEnabled:false,
                    });


                //console.log(that.ue)
                that.ue.ready(function() {
                    //设置编辑器的内容
                    var html = that.form.html;
                    setTimeout(function(){
                        that.ue.setContent(html);
                    },1000)
                    // that.ue.setContent(html);
                });
                // that.ue.addListener('contentChange',function(editor){
                //     that.html = that.ue.getContent();
                // });
            },
            editorInfo(editor, id) {
                var that = this;
                editor.customConfig.menus = [
                    'head',  // 标题
                    'bold',  // 粗体
                    'fontSize',  // 字号
                    'italic',  // 斜体
                    'underline',  // 下划线
                    'strikeThrough',  // 删除线
                    'foreColor',  // 文字颜色
                    'qgs',//去格式
                ]

                editor.customConfig.onchange = function (html) {
                    // html 即变化之后的内容
                    if (id == 1) {
                        that.words = html;
                    }else if(id == 2) {
                        that.notice = html;
                    } else if (id == 3) {
                        that.answer = html
                    }
                }
                editor.create()
            },

            handleClick(tab, event) {
                if (tab.name == "second") {
                    history.go(-1);
                }
                return false;
            },

            // 上传成功之后  将图片的二进制码 保存到images中  方便在formdata中提交表单信息
            uploadSuccess(response, file, fileList) {
                let that = this;
                const isJPG =
                    file['raw']['type'] === 'image/jpeg' ||
                    file['raw']['type'] === 'image/JPEG' ||
                    file['raw']['type'] === 'image/jpg'  ||
                    file['raw']['type'] === 'image/JPG'  ||
                    file['raw']['type'] === 'image/png'  ||
                    file['raw']['type'] === 'image/PNG'  ||
                    file['raw']['type'] === 'image/gif'  ||
                    file['raw']['type'] === 'image/GIF';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传缩略图片只能是 JPG 、JPEG 、GIF、PNG 格式!');
                    fileList.splice(-1, 1);
                    return;
                }
                if (!isLt2M) {
                    this.$message.error('上传缩略图大小不能超过 2MB!');
                    fileList.splice(-1, 1);
                    return;
                }
                fileList[0] = file;
                that.images = file['raw'];
                fileList.splice(1, 15);
            },

            // 删除文件的  将文件置空
            uploadRomove(file, fileList) {
                let that = this;
                that.images = " ";
            },

            onSubmit() {

                let that = this;
                if (that.lock) {
                    return false;
                }
                that.loading = true;
                that.lock = true;
                let param = new FormData();
                param.append("id", that.form.id);
                // param.append("view_count", that.form.view_count);
                param.append("title", that.form.title);
                param.append("type", that.form.type);
                param.append("description", that.description);
                // param.append("position", that.form.position);
                // param.append("category", that.form.category);
                param.append("source_path", that.form.source_path);
                param.append("notice", that.notice);
                param.append("words", that.words);
                param.append("answer", that.answer);
                for(let i=0; i<that.form.pathList.length; i++) {
                    param.append("pathList_"+i, that.form.pathList[i].path);
                }

                for(let i=0; i<that.form.pathList.length; i++) {
                    param.append("subtitle_"+i, that.form.pathList[i].subtitle);
                    param.append('source_ids_'+i, that.form.pathList[i].id);
                }
                param.append("pathCount", that.form.pathList.length);
                param.append("subtitleCount", that.form.pathList.length);

                for(let i=0; i<that.form.textList.length; i++) {
                    param.append("textList_"+i, that.form.textList[i].content);
                    param.append('text_ids_'+i, that.form.textList[i].id);
                }
                param.append("textCount", that.form.textList.length);

                var fileList = that.form.fileList.length == 0 ? "" : that.form.fileList[0]['url'];

                param.append("fileList", fileList);
                param.append("picFile", that.images);
                // 标签 和 创建时间
                param.append('label',that.form.label);
                param.append('created_at', that.form.created_at);

                if (that.form.type == 1){
                    param.append('htmltext', that.ue.getContent());
                }

                let url = that.action == "add" ? "__URL__/addSave" : "__URL__/editSave";
                $.ajax({url:url, type:'post', data:param, dataType:'json', processData:false, contentType:false,
                    success:function (res) {
                        if (res.ret == 202) {
                            that.lock = false;
                            that.loading = false;
                            that.$message.warning(res.msg);
                        } else {
                            that.$message.warning(res.msg);
                            setInterval(function(){
                                window.location.href="__URL__"+"/index/page-<?php echo $_GET["page"];?>.html?title=<?php echo $_GET["title"];?>&id=<?php echo $_GET["id"];?>";return;
                            },1000);
                        }
                    },
                    error:function (XMLHttpRequest, textStatus, errorThrown) {

                    }
                })
            },

            addText() {
                let that = this;
                let content = new Object();
                content.id = 0;
                content.content = "";
                that.form['textList'].push(content);
                console.log(that.form.textList);
            },

            delText(index) {
                // alert(index);
                let that = this;
                that.form.textList.splice(index, 1);
            },

            addPath() {
                let that = this;
                let path = new Object();
                path.id = 0;
                path.path = "";
                path.subtitle = "";
                that.form['pathList'].push(path);
            },

            // path删除
            delPath(index) {
                // alert(index);
                let that = this;
                that.form.pathList.splice(index, 1);
            },
            // 上传的字幕文件
            handleExceed(files, subtitles) {
                let that = this;
                that.$message.warning("只能上传一个文件 重新上传请先删除之前上传的文件");
            },

            subtitlesRemove() {
                let that = this;
                that.subtitles = " ";
            },

            subtitlesUpload(response, files, subtitles) {
                let that = this;
                that.subtitles = files['raw'];
            }

        },


    })
</script>